.select{
    height: 50px;
    font-size: 14px;
    color: #636571;
    background-color: inherit;
    border-color: #bfc2be;
    border-radius: 4px;
    cursor: pointer;
  }
  .text_error{
    color: rgb(248, 68, 68);
    font-weight: bold;
  
  }
  